body {
	font-family: 'Arial', sans-serif;
	font-size: 54px;
	padding: 3%;
	background-color: black;
}

.video-container {
	height: 100vh;
	display: contents;
	overflow: clip;
	z-index: 1;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
  }  

.text {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	max-width: 720px;	
}